@use "../abstracts" as *;
#Game{
    overflow: hidden;
    position: relative;
    &::before{
        @include shapeNav($w: 100%, $h: 100%, $color:rgba(0, 0, 0, 0.327), $opacity: 1);
        @include Position($type: absolute, $t:0, $l: 0);
    }
    background-image: url("../images/42341.jpg");
    @include bgImg();
    .chickenCon{
        width: 100%;
        position: relative;
        background-image: url("../images/aakx_usr5_220301.jpg");
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        @include bgImg();
        @include flexCenter();
        gap: 300px;
        @include responsive(350) {
            gap: 50px;
        }
        @include responsive(650) {
            gap: 120px;
        }
        @include responsive(850) {
            gap: 200px;
        }
        .chicken{
            @include flexCenter($flexDirection: column-reverse);
            position: relative;
            img{
                width: 100px;
                position: relative;
                z-index: 3;
                @include responsive(350) {
                    width: 70px;
                }
            }
            i{
                color: white;
                z-index: 2;
                font-size: 30px;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%,-50%);
                @include responsive(350) {
                    font-size: 32px;
                }
            }
        }

    }
    .start{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.569);
        z-index: 1010;
        h5{
            @include responsive(350) {
                font-size: 15px !important;
            }
        }
        @include flexCenter();
        .startCon{
            width: 100%;
            background-image: linear-gradient(135deg, #FFA8A8 10%, #FCFF00 100%);
            box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
            @include flexCenter();
            gap: 30px;
            cursor: pointer;
            transition: all 0.5s;
            position: relative;
            &::before{
                @include shapeNav($w: 100%, $h: 100%, $color:rgba(0, 0, 0, 0.377), $opacity: 0); 
                @include Position($type: absolute, $t: 0,$l: 0);
                transition: all 1s;
            }
            &:hover{
                color: white;
                &::before{
                    opacity: 1;
                }
                .shapes{
                    transform: scale(0.9);
                }
            }
            .shapes {
                width: 35px;
                height: 35px;
                color: rgb(0, 222, 0);
                transform: scale(0.6);
                position: relative;
                background: conic-gradient(from 134deg at top, currentColor 92deg, #0000 0) top,
                    conic-gradient(from -46deg at bottom, currentColor 92deg, #0000 0) bottom;
                background-size: 100% 50%;
                background-repeat: no-repeat;
                transition: all 0.5s;
            }
            .shapes:before {
                content: '';
                position: absolute;
                inset: 0;
                background: conic-gradient(from -135deg at top 0 left 24.4px, #0000, currentColor 1deg 90deg, #0000 0),
                    conic-gradient(from -45deg at right 0 top 24.4px, #0000, currentColor 1deg 90deg, #0000 0),
                    conic-gradient(from 45deg at bottom 0 right 24.4px, #0000, currentColor 1deg 90deg, #0000 0),
                    conic-gradient(from 135deg at left 0 bottom 24.4px, #0000, currentColor 1deg 90deg, #0000 0);
                animation: shapes-et721zmd 1.5s infinite cubic-bezier(0.3, 1, 0, 1);
            }
            }
    }
    .basket{
        width: 100%;
        position: absolute;
        bottom:80px;
        @include flexCenter();
        .basketCon{
            @include flexCenter();
            position: relative;
            width: fit-content;
            img {
                width: 150px;
                @include responsive(350) {
                    width: 110px;;
                }
            }
            
            h4 {
                position: absolute;
                top: 85%;
                left: 50%;
                transform: translate(-50%,-50%);
                color: white;
                font-size: 20px;
                @include responsive(350) {
                    font-size: 20px;
                }
            }
        }
    }
    .borkenEgg{
        width: 100%;
        position: absolute;
        bottom: 20px;
        @include flexCenter();
        gap: 290px;
        @include responsive(350) {
            gap: 60px !important;
        }
        @include responsive(650) {
            gap: 120px !important;
        }
        @include responsive(850) {
            gap: 200px !important;
        }
        img{
            width: 100px;
            opacity: 0;
            
            @include responsive(350) {
                width: 65px;
            }

            @include responsive(650) {
                width: 70px;
                gap: 150px!important;
            }

            @include responsive(850) {
                gap: 200px;
            }
            &.show{
                opacity: 1;
            }
        }
    }
}