@use "../abstracts" as *;

#Menu {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1010;
    background-color: rgba(0, 0, 0, 0.594);
    display: none;
    .box {
        @include flexCenter(column);
        width: 350px;
        height: 350px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-image: linear-gradient(135deg, #FFA8A8 10%, #FCFF00 100%);
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        padding: 30px;
        border-radius: 10px;
        h4{
            font-size: 15px;
            @include responsive(350){
                font-size: 14px;
            }
        }
        .music {
            width: 100%;
            display: flex;
            justify-content: space-between;
            gap: 100px;
            margin-bottom: 20px;

            h5 {
                font-size: 15px;
            }

            .switch-wrapper .input {
                visibility: hidden;
                display: none;
            }

            .switch-wrapper .toggle {
                position: relative;
                display: block;
                width: 51.2px;
                height: 25.6px;
                cursor: pointer;
                -webkit-tap-highlight-color: transparent;
                transform: translate3d(0, 0, 0);
            }

            .switch-wrapper .toggle:before {
                content: "";
                position: relative;
                top: 3.8px;
                left: 3.8px;
                width: 43.5px;
                height: 17.9px;
                display: block;
                background: #9A9999;
                border-radius: 10.2px;
                transition: background 0.2s ease;
            }

            .switch-wrapper .toggle span {
                position: absolute;
                top: 0;
                left: 0;
                width: 25.6px;
                height: 25.6px;
                display: block;
                background: white;
                border-radius: 12.8px;
                box-shadow: 0 3px 8px rgba(154, 153, 153, 0.5);
                transition: all 0.2s ease;
            }

            .switch-wrapper .toggle span:before {
                content: "";
                position: absolute;
                display: block;
                margin: -23px;
                width: 71.7px;
                height: 71.7px;
                background: rgba(255, 0, 0, 0.5);
                border-radius: 50%;
                transform: scale(0);
                opacity: 1;
                pointer-events: none;
            }

            .switch-wrapper .input:checked+.toggle:before {
                background: rgb(198, 0, 0);
            }

            .switch-wrapper .input:checked+.toggle span {
                background: #ff0000;
                transform: translateX(25.6px);
                transition: all 0.2s cubic-bezier(0.8, 0.4, 0.3, 1.25), background 0.15s ease;
                box-shadow: 0 3px 8px rgba(71, 75, 255, 0.2);
            }

            .switch-wrapper .input:checked+.toggle span:before {
                transform: scale(1);
                opacity: 0;
                transition: all 0.4s ease;
            }
        }

        .restart {
            margin-bottom: 0 !important;

            button {
                padding: 10px 25px;
                background-color: rgb(0, 165, 0);
                color: white;
                border: 0;
                border-radius: 5px;
                transition: all 0.5s;
                font-size: 20px;
                margin-bottom: 0 !important;

                &:hover {
                    background-color: green;
                }

                i {
                    margin-left: 10px;
                }
            }
        }
    }
}